node_modules

Dockerfile
*.config.js
*.config.ts

.eslintcache
.vscode
.next
out

build
dist

.DS_Store
.env
.env.*
.npmrc
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
*.tsbuildinfo

!**.example

*-lock.json
*-lock.yaml
*.lock

logs
*.log
*-debug.log*
*-error.log*

global.d.ts
next-env.d.ts

.dockerignore
.prettierignore
.eslintignore
