node_modules

commitlint.config.js
Dockerfile

.eslintcache
.vscode

build
dist

.DS_Store
.env
.env.*
.npmrc
*.tsbuildinfo

logs
*.log
*-debug.log*
*-error.log*

.dockerignore
.prettierignore
.eslintignore
