node_modules

Dockerfile
*.config.js
*.config.ts
*.html

.eslintcache
.vscode

build
dist

.DS_Store
.env
.env.*
.npmrc
*.tsbuildinfo

!**.example

*-lock.json
*-lock.yaml
*.lock

logs
*.log
*-debug.log*
*-error.log*

.dockerignore
.prettierignore
.eslintignore
