node_modules

commitlint.config.js
Dockerfile

.eslintcache
.vscode
.serverless
.esbuild
.pnpm-store

build
dist

.DS_Store
.env
.env.*
.npmrc
.aws-credentials
.aws-config
*.tsbuildinfo

logs
*.log
*-debug.log*
*-error.log*

.dockerignore
.prettierignore
.eslintignore
