node_modules

Dockerfile
*.config.js
*.config.ts

.eslintcache
.pnpm-store
.serverless
.esbuild

build
dist

.DS_Store
.env
.env.*
.npmrc
.aws-credentials
.aws-config
*.tsbuildinfo

!**.example

*-lock.json
*-lock.yaml
*.lock

logs
*.log
*-debug.log*
*-error.log*

.dockerignore
.prettierignore
.eslintignore
