node_modules

.eslintcache
.pnpm-store
.serverless
.esbuild

build
dist

.DS_Store
.env
.env.*
.env-encoded
.npmrc
.aws-credentials
.aws-config
*.tsbuildinfo

!**.example

*-lock.json
*-lock.yaml
*.lock

logs
*.log
*-debug.log*
*-error.log*
