name: Version or Publish

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      published: ${{ steps.changesets.outputs.published }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.4
        with:
          version: 8.6.1

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.14.2
          cache: 'pnpm'

      - name: Install Packages
        run: pnpm install --no-frozen-lockfile

      - name: Create Release Pull Request or Publish
        id: changesets
        uses: changesets/action@v1.4.1
        with:
          publish: pnpm release
          commit: 'chore(release): update version'
          title: 'chore(release): update version'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
